<ActionBar title="" class="action-bar b-blue" androidElevation="0">
    <StackLayout>
        <GridLayout rows="*" columns="50, *,auto, auto" *ngIf="ref != null">
            <label text="&#xf0c9;" row="0" col="0" class="fa icon_menu" (tap)="openMenu()"></label>
            <label text="{{active ? 'Disponible': 'Ocupado'}}" row="0" col="2" class="r-kufi state"></label>
            <Switch col="3" row="0" checked="{{active}}" color="{{ active ? 'limegreen' : 'dimgray'}}"
                (checkedChange)="toggle($event)" backgroundColor="white"></Switch>
        </GridLayout>
        <GridLayout rows="*" columns="50, *" *ngIf="id != null">
            <label text="&#xf060;" row="0" col="0" class="fa icon_menu" (tap)="back()"></label>
            <label text="Detalle" row="0" col="2" class="r-kufi state"></label>
        </GridLayout>
    </StackLayout>
</ActionBar>


<StackLayout class="card-view1" *ngIf="DetailsOrder">
    <StackLayout class="card-view2" orientation="vertical" androidElevation="4.5">
        <Label text="Información del solicitante" class="informations"></Label>
        <GridLayout rows="auto,auto,auto" columns="auto,*" class="card-view3">
            <Label text="Nombre: " row="0" col="0" textWrap="true"></Label>
            <Label text="{{DetailsOrder.solicitante.nombre}}" class="label-info" textWrap="true" row="0"
                col="2"></Label>
            <Label text="Cedula:" row="1" col="0"></Label>
            <Label text="{{DetailsOrder.solicitante.cedula}}" class="label-info" row="1" col="2"></Label>
            <Label text="Telefono:" row="2" col="0"></Label>
            <Label text="{{DetailsOrder.solicitante.telefono}}" class="label-info" row=" 2" col="2"></Label>
        </GridLayout>
    </StackLayout>

    <StackLayout class="ready" androidElevation="4.5">
        <GridLayout rows="auto,auto,80,auto,auto" columns="auto,*">
            <Label class="fa icons" row="0" col="0" text="&#xf10c;"></Label>
            <StackLayout row="0" col="0">
                <Label class="title">
                    <FormattedString>
                        <Span text="De: " class="r-phone"></Span>
                        <Span text="{{DetailsOrder.recepcion.nombre}}" class="r-name"></Span>
                    </FormattedString>
                </Label>
                <Label class="n-regular directions"
                    text="{{DetailsOrder.recepcion.direccion}}+ ', ' +{{DetailsOrder.recepcion.barrio}}"></Label>
            </StackLayout>

            <StackLayout row="1" col="0" orientation="horizontal"
                *ngIf="(DetailsOrder.estado == 'received' || DetailsOrder.estado == 'delivered') && DetailsOrder.encargado == email ">
                <Button text="Call" class="btn-call r-kufi" (tap)="OpenCall(DetailsOrder.entrega.telefono)"></Button>
                <Button text="WhatSapp" class="btn-whatsapp r-kufi"
                    (tap)="OpenWhatsapp(DetailsOrder.entrega.telefono)"></Button>
            </StackLayout>

            <StackLayout row="2" col="0" colSpan="2">

            </StackLayout>

            <Label class="fa icons" row="3" col="0" text="&#xf111;"></Label>
            <StackLayout row="3" col="0">
                <Label class="title">
                    <FormattedString>
                        <Span text="Para: " class="r-phone"></Span>
                        <Span text="{{DetailsOrder.entrega.nombre}}" class="r-name"></Span>
                    </FormattedString>
                </Label>
                <Label class="n-regular directions"
                    text="{{DetailsOrder.entrega.direccion}}+', '+{{DetailsOrder.entrega.barrio}}"></Label>
            </StackLayout>
            <StackLayout row="4" col="0" orientation="horizontal"
                *ngIf="(DetailsOrder.estado == 'received' || DetailsOrder.estado == 'delivered') && DetailsOrder.encargado == email ">
                <Button text="Call" class="btn-call r-kufi " (tap)="OpenCall(DetailsOrder.entrega.telefono)"></Button>
                <Button text="WhatSapp" class="btn-whatsapp r-kufi"
                    (tap)="OpenWhatsapp(DetailsOrder.entrega.telefono)"></Button>
            </StackLayout>
        </GridLayout>
    </StackLayout>

    <GridLayout>
        <label *ngIf="DetailsOrder.encargado !== email" text="Pedido Tomado" class="btn-ready r-kufi"
            verticalAlignment="bottom" width="100%"> </label>
        <label *ngIf="DetailsOrder.estado == 'new' && DetailsOrder.encargado == ''" text="Realizar pedido"
            class="btn-delivery r-kufi" verticalAlignment="bottom" width="100%" (tap)="delivery('received')"></label>
        <label *ngIf="DetailsOrder.estado == 'received' && DetailsOrder.encargado == email" text="Paquete recibido"
            class="btn-received r-kufi" verticalAlignment="bottom" width="100%" (tap)="delivery('delivered')"> </label>
        <label *ngIf="DetailsOrder.estado == 'delivered' && DetailsOrder.encargado == email" text="Paquete entregado"
            class="btn-delivered r-kufi" verticalAlignment="bottom" width="100%" (tap)="delivery('ready')"> </label>
        <label *ngIf="DetailsOrder.estado == 'ready' && DetailsOrder.encargado == email" text="Pedido terminado"
            class="btn-ready r-kufi" verticalAlignment="bottom" width="100%"> </label>
    </GridLayout>
</StackLayout>